.chat-input {
  box-sizing: border-box;
  width: 100%;
  height: $user-input-height;

  > * {
    border: $border;
    box-sizing: border-box;
    height: $user-input-height;
    padding: $padding;
    font-size: 1em;
  }

  .user-name-input {
    width: $users-list-width;
    font-weight: bold;

    &[readonly] {
      color: white;
      background: $dark-blue;
    }
  }

  .message-input {
    width: calc(100% - #{$users-list-width});

    &[readonly] {
      color: $dark-blue;
      background: $light-blue;
    }
  }
}
