.chat-input {
  display: inline-flex;
  box-sizing: border-box;
  width: 100%;
  height: $user-input-height;

  > * {
    border: $border;
    box-sizing: border-box;
    height: $user-input-height;
    padding: $padding;
    font-size: 1em;
    width: 100%;
  }

  .user-name-input {
    font-weight: bold;
  }

  .chat-button {
    width: $user-input-height;
    border: $border;
    background: $light-gray;

     > *:hover {
      color: $light-blue;
    }
  }
}
