.users-list {
  box-sizing: border-box;
  width: $users-list-width;
  height: 100%;
  border: $border;
  padding: $padding;
  overflow: auto;
  @include users-list-background-gradient();

  .separator {
    border-color: $dark-blue;
  }

  @media screen and (max-width: 400px) {
    display: none;
  }
}
